/* imports new robot font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	outline: none;
}
body{
	font-size: larger;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1352&q=80');
	flex-direction: column;
	color: rgb(10, 202, 186);
}
.login{
	height: 400px;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgb(32, 78, 28);	
	box-shadow: 15px  15px 3px #01301e;
	grid-gap: 50px;
	color: #fff;
	border-radius: 20px;
	border: 1px solid rgba(64, 253, 17, 0.61);
}
/* form style */
form{
	display: flex;
	flex-direction: column;
	grid-gap: 20px;
}
input{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	width: 250px;
	border-radius: 10px;
	padding: 15px;
	border: none;
	font-size: 16px;
	font-weight: 1000;
}
input:nth-child(3){
	padding: 0;
	width: 100px;
	background: #240090;
	color: white;	
}
.hello{
	color: whitesmoke;
	font-size: 100px;
}
p{
	color: white;
	font-size: 30px;
}